name: Telco Churn CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Ambil kode
    - uses: actions/checkout@v3

    # 2. Setup Python
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    # 3. Install Dependencies
    # Kita install apa yang ada di requirements.txt Anda
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow dagshub pandas scikit-learn matplotlib seaborn
        if [ -f membangun_model/requirements.txt ]; then pip install -r membangun_model/requirements.txt; fi

    # 4. Test Run Script (Untuk membuktikan kode tidak error)
    # Kita jalankan modelling.py Anda. 
    # Karena kita tidak mau training lama-lama di CI, kita jalankan untuk cek syntax saja
    - name: Test Execution
      run: |
        # Pastikan path ini sesuai dengan folder Anda
        python membangun_model/modelling.py
      env:
        # Agar tidak error saat connect DagsHub (kita kosongkan atau pakai dummy untuk tes CI saja)
        MLFLOW_TRACKING_URI: ""