name: Telco Churn CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Ambil kode dari repository
    - uses: actions/checkout@v3

    # 2. Setup Python
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    # 3. Install Dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Install library wajib
        pip install mlflow dagshub pandas scikit-learn matplotlib seaborn prometheus-client
        # Install dari requirements jika ada
        if [ -f membangun_model/requirements.txt ]; then pip install -r membangun_model/requirements.txt; fi

    # 4. Jalankan Script Training dengan Autentikasi Rahasia
    - name: Execute Model Training Script
      env:
        # Mengambil rahasia dari GitHub Settings yang baru Anda buat
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        # Menjalankan script modelling
        python membangun_model/modelling.py